.containerImages{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.listImages{
  ul{
    list-style:none;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    margin-top: 29px;
    margin-bottom: 78px;

    li{
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      margin-bottom: 48px;
      height: 320px;
      
      img{
        width:200px;
        border-radius: 4px;
      }
      p{
        max-width:176px;
        text-align: left;
        font-weight: 700;
        font-size: 16px;
      }
      span{
        font-size: 14px;
        color: var(--gray-500);
        font-weight: 700;
      }
    }
  }
}

.paginationNumbers{
  ul{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 100px;

    li{
      font-size: 16px;
      font-weight: 700;
      color: var(--purple-500);
      padding-left: 40px;
    }

  }
}